@import "tailwindcss";

@layer base {
  body {
    background-color: #050505;
    color: #F1F5F9;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  /* Frosted Glass smooth scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: rgba(5, 5, 5, 0.8);
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(8px);
    border-radius: 9999px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.25);
  }
}

